extends layout

block content

  h1= title
  if item_list.length
    ul
      each item in item_list
        li
          a(class='item' + item.quality href=item.url)  #{item.name}
            |  (#{item.slot.name})
          
  else
    p There are no items.
    