extends layout

block content

  h1 #{title}

  form(method='POST')
    div.form-group
     label(for='name') Slot:
     input#name(type='text', placeholder='Head, Shoulder etc.' name='name' required value=(undefined===slot ? '' :  slot.name))
     label(for="description") Description:
     input#description(type='text', placeholder="Slot description", name='description' required value=(undefined===slot ? '' : slot.description))
     button(type='submit') Submit

  if errors
    ul
     for error in errors
      li!= error.msg